%div.field
  = f.label :title
  = f.text_field :title, autofocus: true

%div.field
  = f.label :description
  = f.text_area :description, { class: 'description-area' }

%div.field
  = f.label :language
  = f.select :language, options_for_select(language_options)

%div.field
  = f.label :boilerplate_code
  = f.text_area :boilerplate_code, { class: 'boilerplate-area' }

%div.field
  = f.label :starter_code
  = f.text_area :starter_code, { class: 'code-area' }

%div.field
  = f.hidden_field :starter_code_raw

%div.field
  = f.hidden_field :boilerplate_code_raw

%div.field.test-cases
  - if challenge.test_case_input != []
    - challenge.test_cases.each do |tc|
      = render 'test_cases', tc: tc
  - else
    = render 'test_cases', tc: ['', '']

%div.field
  = link_to 'Add a test case', {action: 'add_test_case'} , { remote: true, class: 'button' }
