%div.field
  = f.label :title
  = f.text_field :title, autofocus: true

%div.field
  = f.label :description
  = f.text_area :description, { class: 'description-area' }

%div.field
  = f.label :language
  = f.select :language, options_for_select(language_options)

%div.field
  = f.label :boilerplate_code
  = f.text_area :boilerplate_code, { class: 'boilerplate-area' }

%div.field
  = f.label :starter_code
  = f.text_area :starter_code, { class: 'code-area' }

%div.field
  = f.hidden_field :starter_code_raw

%div.field
  = f.hidden_field :boilerplate_code_raw

%table
  %tr
    %td
      %div.field
        = f.label :test_case_input
        = f.text_area :test_case_input
    %td
      %div.field
        = f.label :test_case_ouput
        = f.text_area :test_case_output
