= provide(:title, 'Edit Challenge')
%div.row
  %div.small-12.columns
    %h2 Edit Challenge
    = form_for(@challenge, url: { action: :update }, method: :patch) do |f|
      = render 'form', { f: f, language_options: @language_options }
      %div.actions
        = f.submit 'Submit', { class: :button }
        = link_to('Cancel', @challenge)
