= provide(:title, @challenge.title)
%div.row
  %div.small-12.columns
    %div.row
      %div.medium-8.large-10.columns
        %h2= @challenge.title
      %div.medium-2.large-1.columns
        = button_to('Add', new_user_challenge_path, { class: 'button add-challenge' })
      %div.medium-2.large-1.columns
        = button_to('Remove', delete_user_challenge_path, { method: :delete, class: 'button add-challenge' })
    %h4= @challenge.description
    %h5#language= @challenge.language_string
    = form_tag(user_challenge_submit_path, { method: :post, remote: true }) do
      = label_tag(:code, 'Code')
      = text_area_tag(:code, @challenge.starter_code, { class: 'code-area' })
      = label_tag(:boilerplate, 'Boilerplate')
      = text_area_tag(:boilerplate, @challenge.boilerplate_code, { class: 'boilerplate-area', readonly: true })
      = label_tag(:test_cases, 'Test Cases')
      = text_area_tag(:test_case_input, @challenge.test_case_input, { readonly: true })
      = submit_tag('Run', { class: :button })
    %h4#results Results
    %h4#anki-dates
