!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %title= full_title(yield :title)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'partials/header'
    %div.row
      %div.small-12.columns.flash-messages
        - flash.each do |k, v|
          - if k == 'notice'
            %p.notice= v
          - else
            %p.error= v
    = yield
